.landing {
  position: relative;
  background-color: $secondary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  .btn-primary {
    margin-top: 100px;
  }
}
