.btn {
  text-decoration: none;
  color: white;
  padding: 20px 30px;
  border-radius: 16px;
  &.btn-primary {
    background: linear-gradient(
      90deg,
      rgba(65, 54, 241, 1) 0%,
      rgba(135, 67, 255, 1) 100%
    );
  }
  &.btn-secondary {
    background: linear-gradient(
      90deg,
      rgba(31, 30, 30, 1) 0%,
      rgba(40, 44, 52, 1) 100%
    );
  }
}
