.hamburger-button {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $secondary;
  &__button {
    display: block;
    margin: 20px 0 20px 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    color: $primary;
    @include breakMin($breakSmall) {
      display: none;
    }
  }
}
