.contact-us {
  form {
    @include breakMin($breakMedium) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  .input-container {
    margin-bottom: 20px;
  }
  label {
    display: block;
  }
  .input,
  .dropdown {
    width: 200px;
    border: none;
    border-bottom: 1px solid $secondary;
    padding-bottom: 10px;
    outline: none;
    font-size: 16px;
    color: $secondary;
    transition: all 0.3s;
    &::placeholder {
      color: $secondary;
      opacity: 0.6;
    }
    &.selected {
      width: 240px;
      &::placeholder {
        opacity: 1;
      }
    }
  }
  .dropdown {
    option {
      &:hover {
        color: white;
        background-color: $secondary;
      }
    }
  }
  .send {
    width: 200px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
