:root {
  --primary: #8743ff;
  --secondary: #282c34;
}

.page-loading::before {
  content: " ";
  display: block;
  position: fixed;
  z-index: 3;
  height: 2px;
  width: 100%;
  top: 0;
  left: 0;
  animation: page-load infinite ease-out 2s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

@keyframes page-load {
  from {
    background-color: var(--primary);
  }
  to {
    background-color: white;
  }
}

.container {
  max-width: 1170px;
  padding: 0 20px;
}

.landing {
  position: relative;
  background-color: var(--secondary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar {
  display: none;
}

.navbar__link {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.navbar__link:hover {
  color: var(--primary);
}

.hamburger-button {
  position: absolute;
  left: 20px;
  top: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  color: var(--primary);
  z-index: 2;
}

.hamburger-menu {
  width: 0;
  overflow: hidden;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--secondary);
  -webkit-box-shadow: 17px 0px 44px -5px rgba(135, 67, 255, 1);
  -moz-box-shadow: 17px 0px 44px -5px rgba(135, 67, 255, 1);
  box-shadow: 17px 0px 44px -5px rgba(135, 67, 255, 1);
  transition: all 0.3s;
}

.hamburger-menu.active {
  width: 200px;
  padding: 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hamburger-menu ul {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 65%;
}

.hamburger-menu .copyright {
  margin-top: 80px;
}

.hamburger-menu .navbar__link {
  display: block;
  width: 100%;
}

.btn {
  text-decoration: none;
  color: white;
  padding: 20px 30px;
  border-radius: 16px;
}

.btn-primary {
  background: linear-gradient(
    90deg,
    rgba(65, 54, 241, 1) 0%,
    rgba(135, 67, 255, 1) 100%
  );
}

.landing .btn-primary {
  margin-top: 100px;
}

/* mobile - tablet */
@media only screen and (min-width: 640px) {
  .container {
    padding: 0 40px;
  }
  .navbar {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  .hamburger-button,
  .hamburger-menu.active {
    display: none;
  }
}

/* tablet - desktop */
@media only screen and (min-width: 960px) {
  .container {
    padding: 0 60px;
  }
}

/* after desktop */
@media only screen and (min-width: 1200px) {
  .container {
    padding: 0 80px;
  }
}
