body {
  margin: 0;
  font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

em {
  color: var(--primary);
}

ul {
  list-style-type: none;
  padding: 0;
}
